.hamburger {
    display: none;
}

@media (max-width: 992px) {
    .hamburger {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid var(--hamburger-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 33px;
        border-radius: 4px;
        transition: .5s all;
        cursor: pointer;
        &__active {
            padding: 5px;
            border: 2px solid var(--hamburger-bg-active);
        }
        &__wrapper {
            width: 18px;
            height: 14px;
            span {
                display: block;
                height: 0.1rem;
                border-radius: 2px;
                width: 100%;
                margin-bottom: 4px;
                background-color: var(--hamburger-bg);
                transition: 0.5s all;
            }
            &-active {
                span {
                    &:nth-child(1) {
                        transform: translateY(6px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(0px) rotate(45deg);
                    }
                }
            }
        }
    }
}