.btnLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--bg-btnLink);
    color: var(--white);
    border: 1px solid var(--border-btnLink);
    border-radius: 6px;
    text-decoration: none;
    transition: .1s all ease-in;
    cursor: pointer;
    .social__link-svg {
        margin-right: 5px;
        transition: .1s all ease-in;
    }
    &__name {
        letter-spacing: 1px;
    }
    &:hover {
        color: var(--black);
        background-color: var(--light-silver);
        border: 1px solid var(--light-silver); 
        .social__link-svg {
           path {
                fill: black;
           }
        }
    }
    &:active {
        border: 1px solid var(--light-silver); 
        background-color: var(--white);
    }
}