.projects {
    padding: 40px 0 100px 0;
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 30px;
        padding: 15px;
        width: 365px;
        border: 1px solid var(--bg-border-item);
        border-radius: 10px;
        background-color: var(--bg-item);
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 15px 0;
        color: var(--color-item-title);
    }
    &__link {
        text-decoration: none;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 330px;
        border-radius: 10px;
        border: 1px solid var(--dark-border-item);
    }
    &__hashtag {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: 15px;
        div {
            margin-right: 5px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .projects {
        &__item {
            width: 300px;
        }
        &__img {
            width: 265px;
        }
    }
}

@media (max-width: 992px) {
    .projects {
        &__list {
            justify-content: space-around;
        }
    }
}

@media (max-width: 768px) {
    .projects {
        &__item {
            width: 250px;
            padding: 10px;
        }
        &__img {
            width: 225px;
        }
        &__btn {
            padding: 5px 10px;
        }
        &__hashtag {
            font-size: 13px;
            div {
                margin-right: 4px;
            }
        }
    }
}

@media (max-width: 576px) {
    
}

@media (max-width: 425px) {
    
}

@media (max-width: 375px) {
    
}