.buttonFilter {
    margin-top: 20px;
    text-align: center;
    &__btn {
        margin: 0 4px;
        padding: 5px 15px;
        font-size: 15px;
        font-weight: 400;
        background-color: var(--bg-btnLink);
        color: var(--white);
        border: 1px solid var(--border-btnLink);
        border-radius: 6px;
        text-decoration: none;
        transition: .1s all ease-in;
        cursor: pointer;
        &:hover {
            color: var(--black);
            background-color: var(--light-silver);
            border: 1px solid var(--light-silver); 
        }
        &:active {
            border: 1px solid var(--light-silver); 
            background-color: var(--white);
        }
        &-active {
            color: var(--black);
            background-color: var(--light-silver);
            border: 1px solid var(--light-silver); 
            &:active {
                background-color: var(--light-silver);
                border: 1px solid var(--light-silver); 
            }

        }
    }
    
    &__name {
        letter-spacing: 1px;
    }
}

@media (max-width: 576px) {
    .buttonFilter {
        &__btn {
            margin: 0 5px;
            &:last-child {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 425px) {
    .buttonFilter {
        &__btn {
            margin: 0 5px;
            &:last-child {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 375px) {
    .buttonFilter {
        &__btn {
            margin: 0 8px;
        }
    }
}