.contacts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    &__title {
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        color: var(--contacts-title);
    }
    &__wrapper {
        margin-top: 50px;
        text-align: center;
    }
    &__animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 600px;
        border-radius: 10px;
        overflow: hidden;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.3s ease-in;
        &:before {
            content: '';
            position: absolute;
            z-index: -2;
            left: -50%;
            top: -50%;
            width: 200%;
            height: 200%;
            background-color: #399953;
            background-repeat: no-repeat;
            background-size: 50% 50%, 50% 50%;
            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
            background-image: linear-gradient(var(--blue), var(--blue)), linear-gradient(var(--white), var(--white)), linear-gradient(var(--blue), var(--blue)), linear-gradient(var(--white), var(--white));
            animation: rotate 8s linear infinite;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 2px;
            top: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: var(--promo-bg);
            border-radius: 5px;
        } 
    }
    &__subtitle {
        margin-top: 40px;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 4px;
        color: var(--contacts-subtitle);
    }
    &__descr {
        font-size: 17px;
        margin-top: 20px;
        letter-spacing: 1px;
        color: var(--contacts-descr);
    }
    &__link {
        display: block;
        margin-top: 20px;
        text-decoration: none;
        font-size: 18px;
        color: var(--contacts-link);
        transition: all 0.2s ease-in;
        &:hover {
            color: var(--black);
        }
    }
}

@media (max-width: 1200px) {
    .contacts {
        &__title {
            font-size: 45px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__descr {
            font-size: 16px;
        }
        &__link {
            font-size: 17px;
        }
    }
}

@media (max-width: 992px) {
    .contacts {
        &__wrapper {
            margin-top: 35px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 33px;
            margin-top: 30px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 15px;
        }
        &__link {
            font-size: 16px;
            margin-top: 15px;
        }
        &__animation {
            width: 550px;
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        &__wrapper {
            margin-top: 25px;
        }
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 30px;
            margin-top: 25px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 10px;
        }
        &__link {
            font-size: 15px;
            margin-top: 10px;
        }
        &__animation {
            width: 465px;
            padding: 2rem;
        }
    }
}

@media (max-width: 576px) {
    .contacts {
        &__wrapper {
            margin-top: 20px;
        }
        &__title {
            font-size: 32px;
        }
        &__subtitle {
            font-size: 25px;
            margin-top: 25px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 10px;
        }
        &__link {
            font-size: 15px;
            margin-top: 10px;
        }
        &__animation {
            width: 400px;
            padding: 1.5rem;
        }
    }
}

@media (max-width: 425px) {
    .contacts {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__descr {
            font-size: 13px;
        }
        &__link {
            font-size: 14px;
        }
        &__animation {
            width: 350px;
        }
    }
}

@media (max-width: 375px) {
    .contacts {
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__descr {
            font-size: 13px;
        }
        &__link {
            font-size: 14px;
        }
        &__animation {
            width: 300px;
            padding-left: 0px;
            padding-right: 0;
        }
    }
}